/* App.css */
.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between; /* Para colocar el título y la barra de navegación a los extremos */
  align-items: center; /* Para alinear verticalmente el contenido */
  background-color: #136;
  padding: 10px 20px;
  color: white;
}

.Header-title {
  font-size: 58px; /* Tamaño del título muy grande */
}

.Navbar {
  display: flex;
}

.Navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar-links li {
  margin-left: 10px;
}

.Navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 24px; /* Tamaño de los enlaces */
}

.Navbar-links a:hover {
  text-decoration: underline; /* Subrayar al pasar el ratón */
}

.content-wrapper{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-row{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content{
  width: 20%;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.picture{
  width: 100%;
  height: auto;
}

.Header-title {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.Header-title:hover {
  text-decoration: underline;
}

.Header-title h1 {
  margin: 0;
}

